<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora Básica</title>
</head>
<body>
    <h1>Calculadora Básica</h1>
<form>
    <label>Número 1:</label>
    <input type="number" id="n1" name="n1" placeholder="Ingrese un número"/>
    <br><br>
    <label>Número 2:</label>
    <input type="number" id="n2" name="n2" placeholder="Ingrese un número"/>
    <p id="resultado">Resultado: 0</p>
    <input type="button" value="Suma" onclick="suma()">
    <input type="button" value="Resta" onclick="resta()">
    <input type="button" value="Multiplicación" onclick="multiplicacion()">
    <input type="button" value="División" onclick="division()">
</form>
<script src="/js/calculadora.js"></script>
</body>
</html>